
.navLinks:hover {
    opacity: 50%;
}

.frontPage a:hover {
    background-color: white;
    opacity: 80%;
}

.bikerCard a:hover {
    background-color: white;
    color: black;
    border: 1.5px solid black;
}

.products:hover {
    border: 1px solid white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.active,
.demo:hover {
    opacity: 1;
}
