
.navLinks:hover {
    opacity: 50%;
}

.active {
    opacity: 25%;
}

.frontPage a:hover {
    background-color: white;
    opacity: 80%;
}

.bikerCard a:hover {
    background-color: white;
    color: black;
    border: 1.5px solid black;
}

.products:hover {
    border: 1px solid white;
}

.connect a:hover {
    opacity: 50%;
}

.familyInfo a:hover {
    background-color: black;
    color: white;
}
