
@font-face {
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Days One', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
}

nav img {
    width: 100px;
}

nav a {
    font-family: "Darker Grotesque", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: auto;
}

/* Front Page */

.frontPage {
    background-image: url("../images/frontPageHeader.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.frontPage h1 {
    color: white;
    font-family: "Days One", sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.frontPage a {
    text-decoration: none;
    font-family: "Darker Grotesque", sans-serif;
    color: black;
    padding: 15px 50px;
    background-color: white;
    border-radius:10px;
}

.bikerEdition {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
}

.bikerEdition img,
.bikerCard {
    height: 500px;
    width: 400px;
}

.bikerEdition a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 30px;
}

.bikerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.selectedProducts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.featured h2 {
    font-family: "Days One", sans-serif;
    text-align: center;
    font-size: 35px;
    margin: 45px 0 25px 0;
}

.selectedProducts img {
    height: 200px;
    width: 150px;
    background-color: white;
}

.products {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
}



/* Review Page */

.reviewPage {
    padding-top: 100px;
    text-align: center;
}

.reviewPage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewPageContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 30px;
    gap: 20px;
    height: 75vh;
}

.testPerson1,
.testPerson2,
.testPerson3 {
    background-color: white;
    padding: 30px 30px;
}

