
@font-face {
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Days One', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
}

nav img,
footer img {
    width: 100px;
}

nav a {
    font-family: "Darker Grotesque", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: auto;
}

.firstSection {
    padding-top: 100px;
}


/* Front Page */


.frontPage {
    background-image: url("../images/frontPageHeader2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: -20px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.frontPage h1 {
    color: white;
    font-family: "Days One", sans-serif;
    font-size: 75px;
    font-weight: bold;
    margin: 0;
}

.frontPage a {
    text-decoration: none;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 15px 50px;
    background-color: white;
    margin: 0 25px;
}



.skiEdition {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
}

.skiEdition img,
.skiCard {
    height: 500px;
    width: 400px;
    object-fit: cover;
}

.skiEdition a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 30px;
}

.skiCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
}

.skiCard h2 {
    font-family: "Days One", sans-serif;
    font-size: 30px;
    margin: 0 20px;
}

.skiCard a,
.skiCard p {
    font-family: "Darker Grotesque", sans-serif;
}

.skiCard p {
    margin: 25px 0;
}



.featured h2 {
    font-family: "Days One", sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 50px 0 25px 0;
}

.selectedProducts {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    width: 100%;
    text-align: center;

}

.selectedProducts img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    background-color: white;
    padding: 20px;
}

.products {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: "Darker Grotesque", sans-serif;
}

.products h3,
.products p {
    margin: 0 0 5px 0;
    width: 200px;
}


.newsletter {
    text-align: center;
    margin: 100px auto;
}

.newsletter h2 {
    font-family: "Days One", sans-serif;
    font-size: 30px;
}

#email {
    width: 300px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#submit {
    background-color: white;
    border: 1px solid lightgray;
    color: black;
    font-family: "Darker Grotesque", sans-serif;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}

.newsletter p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
    width: 250px;
    margin: 7px auto;
}



/* For Him/For Her Page */


.mensJackets {
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

.mensJackets h1 {
    font-family: "Days One", sans-serif;
    font-size: 30px;
    margin: 20px 0;
}

.mensJackets p,
.displayInfo {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
}

.forHimHeader {
    height: 60vh;
    width: 100vw;
    margin: 0 auto;
    object-fit: cover;
}

.displayInfo {
    margin-left: 20px;
}


/* Product Detal Page */


.productDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 50px;
}

.otherImages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 5px;
}

.productImage img {
    width: 450px;
    height: 70vh;
    object-fit: contain;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
}

.secondImage {
    width: 150px;
    height: 17.6vh;
    object-fit: contain;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.productInfo {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.productInfo h1 {
    font-family: "Days One", sans-serif;
    font-size: 40px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.productInfo p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
    margin: 0;
}

.productInfo a {
    text-decoration: none;
    color: white;
    background-color: #62736F;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
    padding: 10px 100px;
    border-radius: 10px;
}

.additional p {
    font-size: 15px;
}

.newsletter label {
    display: none;
}

.colorButton label {
    font-family: "Darker Grotesque", sans-serif;
}

.colorButtons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Purchase Page */


.purchaseHeadline {
    text-align: center;
    font-family: "Days One", sans-serif;
}

.order {
    display: flex;
    flex-direction: row-reverse;
    margin: auto 30px;
    gap: 30px;
}

.information {
    background-color: white;
    flex: 3;
    padding: 20px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.orderForm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.orderForm h2 {
    font-family: "Days One", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.orderForm label {
    display: none;
}

.orderForm input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 25px;
    width: 200px;
}

.orderForm form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information a {
    text-decoration: none;
    color: black;
    font-family: "Darker Grotesque", sans-serif;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px 50px;
    width: 50px;
    margin-left: 370px;
}

.summary {
    background-color: white;
    padding: 20px;
    height: 45vh;
    flex: 1;
}

.summary h3 {
    font-family: "Days One", sans-serif;
    margin-top: 0;
}

.orderInfo {
    display: flex;
    flex-direction: column;
}

.orderImage {
    display: flex;
    align-items: center;
    gap: 20px;
}

.orderImage img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.orderInfo p {
    font-family: "Darker Grotesque", sans-serif;
    margin: 0;
}

.orderInfo h4 {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: bold;
    margin: 0;
}

.discount {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.discount label {
    display: none;
}

#ok {
    height: 30px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 50px;
}

#discount {
    height: 30px;
    width: 200px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.shipping {
    display: flex;
    justify-content: space-between;
    font-family: "Darker Grotesque", sans-serif;
}

.total {
    display: flex;
    justify-content: space-between;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: bold;
    border-top: 1px solid lightgray;
}

.help {
    text-align: center;
    font-family: "Darker Grotesque", sans-serif;
    background-color: white;
    margin: 0 30px;
    height: 20vh;
}


/* Purchace Complete */

.complete {
    text-align: center;
}

.complete h2 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 30px;
}

.complete h1 {
    font-family: "Days One", sans-serif;
    font-size: 35px;
    margin: 0;
}

/* Product Page */


.productFeatures {
    margin: 30px 50px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.productFeatures h2,
.productCare h2,
.otherProducts h2 {
    font-family: "Days One", sans-serif;
    font-size: 20px;
}

.productFeatures ul {
    display: flex;
    gap: 100px;
}

.productFeatures li,
.productCare p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
    padding: 10px;
}

.productCare {
    margin: 30px 50px;
    border-bottom: 1px solid lightgray;
}

.productCare p {
    margin: 0;
}

.otherProducts h2 {
    text-align: center;
}


/* About Page */


.about {
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: -50px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1,
.contact h1 {
    color: white;
    font-family: "Days One", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.about h2,
.contact h2 {
    color: white;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 40px;
    font-style: italic;
    margin: 0;
}

.ourFamily {
    height: 60vh;
    width: 80vw;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ourFamily img {
    height: 60vh;
    width: 500px;
}

.familyInfo {
    height: 500px;
    width: 400px;
    margin-left: 50px;
}

.familyInfo h2,
.values h2 {
    font-family: "Days One", sans-serif;
    font-size: 30px;
}

.familyInfo p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
}

.familyInfo a {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
}

.values {
    margin: 50px 0;
}

.values h2,
.arcticFund {
    text-align: center;
}

.values p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.arcticFund {
    background-image: url(../images/polarbear.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
}

.arcticFund h2 {
    font-family: "Days One", sans-serif;
    font-size: 50px;
    color: white;
    margin: 0;
}

.arcticFund h3 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 30px;
    color: white;
    margin: 0;
}


/* Contact */

.contact {
    background-image: url(../images/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customerService {
    margin: 60px 30px;
    text-align: center;
}

.customerService h2,
.customerService h3 {
    font-family: "Days One", sans-serif;
}

.customerService p {
    font-family: "Darker Grotesque", sans-serif;
    margin: 0;
}

.hours {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

.questions {
    background-image: url(../images/questions.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.questions h2 {
    font-family: "Days One", sans-serif;
    font-size: 35px;
    margin: 0;
}

.questions h3 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.message h2 {
    font-family: "Days One", sans-serif;
    text-align: center;
    margin-top: 50px;
}

.formInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Darker Grotesque", sans-serif;
}

.form label {
    display: none;
}

.formInfo input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 25px;
    width: 200px;
}

.formInfo textarea {
    height: 100px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.submit {
    text-align: center;
    margin-top: 10px;
}

.submit label {
    display: none;
}


/* Footer */


footer {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    margin-top: 20px;
}

footer img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

footer h4 {
    font-family: "Days One", sans-serif;
}

.connect {
    display: flex;
    flex-direction: column;
}

.connect a {
    color: black;
    font-family: "Darker Grotesque", sans-serif;
    text-decoration: none;
}

.location p {
    font-family: "Darker Grotesque", sans-serif;
    margin: 0;
}



