
@font-face {
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Days One', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
}

nav img {
    width: 100px;
}

nav a {
    font-family: "Darker Grotesque", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: auto;
}

.firstSection {
    padding-top: 100px;
}


/* Front Page */


.frontPage {
    background-image: url("../images/frontPageHeader2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.frontPage h1 {
    color: white;
    font-family: "Days One", sans-serif;
    font-size: 75px;
    font-weight: bold;
    margin: 0;
}

.frontPage a {
    text-decoration: none;
    font-family: "Days One", sans-serif;
    font-size: 15px;
    color: black;
    padding: 15px 50px;
    background-color: white;
    margin: 0 25px;
}



.bikerEdition {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
}

.bikerEdition img,
.bikerCard {
    height: 500px;
    width: 400px;
}

.bikerEdition a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 30px;
}

.bikerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
}

.bikerCard h2 {
    font-family: "Days One", sans-serif;
    font-size: 30px;
    margin: 0 20px;
}

.bikerCard a,
.bikerCard p {
    font-family: "Darker Grotesque", sans-serif;
}

.bikerCard p {
    margin: 25px 0;
}



.featured h2 {
    font-family: "Days One", sans-serif;
    text-align: center;
    font-size: 35px;
    margin: 50px 0 25px 0;
}

.selectedProducts {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    width: 100%;
    text-align: center;

}

.selectedProducts img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    background-color: white;
    padding: 20px;
}

.products {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: "Darker Grotesque", sans-serif;
}

.products h3,
.products p {
    margin: 0 0 5px 0;
    width: 200px;
}


/* For Him/For Her Page */


.mensJackets {
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

.mensJackets h1 {
    font-family: "Days One", sans-serif;
    font-size: 30px;
    margin: 20px 0;
}

.mensJackets p,
.displayInfo {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
}

.displayInfo {
    margin-left: 20px;
}


/* Product Detal Page */

.productDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px
}

.productDetail img {
    width: 500px;
    height: 70vh;
    object-fit: contain;
    background-color: white;
    padding: 50px;
}

.productInfo {
    width: 70vh;
}

.productInfo h1 {
    font-family: "Days One", sans-serif;
    font-size: 40px;
    margin: 0;
}

.productInfo p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 20px;
    margin: 10px 0 0 0;
}



/* Review Page */


.reviewPage {
    padding-top: 100px;
    text-align: center;
}

.reviewPage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewPageContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 30px;
    gap: 20px;
    height: 75vh;
}

.testPerson1,
.testPerson2,
.testPerson3 {
    background-color: white;
    padding: 30px 30px;
}

